<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text-center display-1">{% block title %}Filmoteca{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
            color: beige;
        }
        .header, .footer {
            background-color: black;
            padding: 15px 0;
            color: beige;
            text-align: center;
        }
        .header{
            border-bottom: 2px solid beige;
        }
        .footer{
            border-top: 2px solid beige;
        }
        .headTable{
        color : #aa8d5b;
        }
        .tableText{
            color : #c09345;
        }
    </style>
</head>
<body>
    <header class="header">
        <h1>FILMOTECA</h1>
        <nav>
            <a href="/films/list" class="text-decoration-none text-light">Liste des films</a> |
            <a href="/films/create" class="text-decoration-none text-light">Ajouter un film</a>
        </nav>
    </header>

    <main class="container mt-5">
        {% block content %}
        <!-- La il y aura le contenu de la page.... c'est spécifique -->
        {% endblock %}
    </main>

    <footer class="footer mt-5">
        <p>&copy; 2024 Filmoteca. Tous droits réservés.</p>
    </footer>

</body>
</html>
