body{
    background-color: black;
}

h1,h3,p{
    color: beige;
    text-align: center;
    /*noinspection CssInvalidPropertyValue*/
    font-style:arial;
}

.mainTitle{
    font-weight: 100;
}

.text{
    margin: 0 20%;
}

.gLaBarre {
    color: beige;
    border: 2px solid;
    margin: 20px;
}

.addFilm{
    margin: 0 20%;
    border-color: beige;
    border: 1px;
}